@model PDFReader.Models.KeywordModel

@{
    ViewBag.Title = "Keywords";
}

<!-- data tables css -->
<link rel="stylesheet" href="@Url.Content("~/Content/assets/css/plugins/dataTables.bootstrap4.min.css")">
<link href="@Url.Content("~/Content/Custom.css")" rel="stylesheet" />

        
<!-- [ Main Content ] start -->
<form id="frm_keyword" method="post" action="#" role="form" novalidate="novalidate">
    <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
            <div class="card">

                <div class="card-header">
                    <h5>Add/Edit/Delete Keywords</h5>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group fill">
                                        @Html.DropDownListFor(model => model.SMID, new List<SelectListItem>(Model.KEYWORDSET), "Select Keyword Set Name", new { @class = "form-control", placeholder = "Keyword Set Name" })
                                        @Html.TextBoxFor(Model => Model.ACTION, new { @class = "hide_column", value = "1" })
                                        @Html.TextBoxFor(Model => Model.KID, new { @class = "hide_column" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group fill">

                                        @Html.TextBoxFor(Model => Model.KEYWORD, new { @class = "form-control", placeholder = "Enter Keyword", @required = "required" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <div class="btn notifications btn-success has-ripple" data-type="success" data-from="top" data-align="right" id="btnsubmit">Submit</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="row" style="padding:5px; background-color:#fbf4bd;">
                                <h6>For Bulk Upload</h6><br />
                                <h6 class="text-danger">Note: This action will delete all the keyword stored in database and It will store new keywords of excel file</h6>
                                <ol class="text-danger">
                                    <li>
                                        Data Should be entered in given format<br />
                                        <img src="~/Content/assets/images/keywordformat.jpg" />
                                    </li>
                                    <li>To download excel format for entry please <a href="~/Content/keywordformat.xlsx">Click here</a></li>
                                    @*<li>For Edit or Delete single keyword click on that keyword showing in blue color from table given below</li>*@
                                </ol>
                                <div class="col-md-6">
                                    <div class="form-group fill">
                                        <label for="FinanacialYear">Choose Excel File</label>
                                        <input type="file" id="uploadfile" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group fill">
                                        <div class="btn btn-primary" data-formid="frmUploadKeyword" id="btnImport">Import Data</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="dt-responsive table-responsive">
                                <table id="KeywordTable" class="table table-striped table-bordered nowrap">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ sample-page ] end -->
    </div>
</form>
<!-- [ Main Content ] end -->
<!-- datatable Js -->

<script src="@Url.Content("~/Content/assets/js/plugins/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Content/assets/js/plugins/dataTables.bootstrap4.min.js")"></script>



<script src="@Url.Content("~/Content/assets/js/plugins/buttons.colVis.min.js")"></script>
<script src="@Url.Content("~/Content/assets/js/plugins/buttons.print.min.js")"></script>
<script src="@Url.Content("~/Content/assets/js/plugins/pdfmake.min.js")"></script>
<script src="@Url.Content("~/Content/assets/js/plugins/jszip.min.js")"></script>
<script src="@Url.Content("~/Content/assets/js/plugins/dataTables.buttons.min.js")"></script>
<script src="@Url.Content("~/Content/assets/js/plugins/buttons.html5.min.js")"></script>
<script src="@Url.Content("~/Content/assets/js/plugins/buttons.bootstrap4.min.js")"></script>

<script src="@Url.Content("~/Scripts/Custom/Keyword/KeywordDatatable.js")"></script>

<script>
    var LoadKeywords = "@Url.Content("~/Keyword/LoadKeyword")"
    var InsertKeywords= "@Url.Content("~/Keyword/AddKeyword")"

    var uploadKeywordFileUrl = "@Url.Content("~/Keyword/UploadFile")"
</script>