@using System.Linq
@using PDFReader.Models
<style>
    div.dataTables_scrollHeadInner thead {
        height: 10em;
    }
</style>
<link rel="stylesheet" href="@Url.Content("~/Content/assets/css/plugins/dataTables.bootstrap4.min.css")">



<!-- Build your select: -->





<table id="tblAnn" class="table table-bordered">
</table>


<script src="@Url.Content("~/Content/assets/js/plugins/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Content/assets/js/plugins/dataTables.bootstrap4.min.js")"></script>

<script src="@Url.Content("~/Content/assets/js/plugins/buttons.colVis.min.js")"></script>
<script src="@Url.Content("~/Content/assets/js/plugins/buttons.print.min.js")"></script>
<script src="@Url.Content("~/Content/assets/js/plugins/pdfmake.min.js")"></script>
<script src="@Url.Content("~/Content/assets/js/plugins/jszip.min.js")"></script>
<script src="@Url.Content("~/Content/assets/js/plugins/dataTables.buttons.min.js")"></script>
<script src="@Url.Content("~/Content/assets/js/plugins/buttons.html5.min.js")"></script>
<script src="@Url.Content("~/Content/assets/js/plugins/buttons.bootstrap4.min.js")"></script>


<script src="~/Scripts/Custom/announcement/ann-datatable.js"></script>