@model PDFReader.Models.WatchlistModel

@{ ViewBag.Title = "Upload announcement"; }

<!-- data tables css -->
<link rel="stylesheet" href="@Url.Content("~/Content/assets/css/plugins/dataTables.bootstrap4.min.css")">
<link href="@Url.Content("~/Content/Custom.css")" rel="stylesheet" />

<!-- [ Main Content ] start -->
<form id="frm_har">
    <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
            <div class="card">

                <div class="card-header">
                    <h5>Upload HAR file</h5>

                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-6">
                            <input type="file" id="fileupload" />
                            <input class="btn btn-sm btn-primary" type="button" id="btnUpload" value="Upload" />
                        </div>
                        <div class="col-md-4">
                            <div class="form-group fill" style="position: relative; top: -11px;">
                                To delete record please select a date
                                <input class="form-control datepicker" type="date" id="dtAlertRpt" name="dtAlertRpt">
                            </div>
                        </div>
                        <div class="col-md-2"><br />
                            <div id="btnDelAnn" class="btn btn-sm btn-primary">Delete announcement</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <img src="~/Content/Images/waitingimage.gif" class="imgprocess" />
                        </div>
                    </div>

                </div>
                <!-- [ sample-page ] end -->
            </div>
</form>
<!-- [ Main Content ] end -->
<!-- datatable Js -->

<script src="@Url.Content("~/Content/assets/js/plugins/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Content/assets/js/plugins/dataTables.bootstrap4.min.js")"></script>
<script src="@Url.Content("~/Content/assets/js/pages/data-basic-custom.js")"></script>


<script>


    $(document).ready(function () {
        $('.imgprocess').hide();


        $('#btnUpload').click(function () {
            $('.imgprocess').show();
            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {

                var fileUpload = $("#fileupload").get(0);
                var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                $.ajax({
                    url: '/watchlist/LoadAnnFromHARFile',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        alert("File uploaded \n" + result + " records inserted");
                        location.reload();
                        $('.imgprocess').hide();
                    },
                    error: function (err) {
                        alert(err.statusText);
                        $('.imgprocess').hide();
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });

        $('#btnDelAnn').click(function () {
           
            var adate = $('#dtAlertRpt').val();

            if ($('#dtAlertRpt').val() == '') {
                alert('select date first');
                return;
            }

            $('.imgprocess').show();

            $.ajax({
                url: '/watchlist/DeleteAnnouncement?date=' + adate,
                type: "GET",

                success: function (result) {
                    $('.imgprocess').hide();
                    alert("Records deleted successfully of selected date");
                },
                error: function (err) {
                    alert(err.statusText);
                    $('.imgprocess').hide();
                }
            });

        });
    });
</script>