@model List<PDFReader.Model.KeywordResult>

<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" />
<link href="@Url.Content("~/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css")" />
<link href="@Url.Content("~/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css")" />
<link href="@Url.Content("~/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css")" />
<link href="@Url.Content("~/Content/assets/global/plugins/uniform/css/uniform.default.css")" />
<link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link href="@Url.Content("~/Content/assets/global/css/components.min.css")" rel="stylesheet" id="style_components" type="text/css" )" />
<link href="@Url.Content("~/Content/assets/global/css/plugins.min.css")" />


<div class="row">
    <div class="col-md-2">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-speech font-green-sharp"></i>
                    <span class="caption-subject bold uppercase"> Keywords </span>
                    <span class="caption-helper">...</span>
                </div>

            </div>
            <div class="portlet-body">
                <div class="scroller" style="height:500px" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">

                    @{
                        int cnt = 0;
                        foreach (var result in Model)
                        {
                            <div class="col1">
                                <div class="cont">
                                    <div data-reportid="@result.ReportId"
                                         data-Url="@result.Url"
                                         data-FoundKeywords="@result.FoundKeywords"
                                         data-PDFPageNumber="@result.PDFPageNumber"
                                         class="desc keywords" style="cursor: pointer;">

                                        @(++cnt): @result.FoundKeywords
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
    <div class="col-md-3">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-speech font-green-sharp"></i>
                    <span class="caption-subject bold uppercase"> Keyword Phrase </span>
                    <span class="caption-helper">...</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height:500px" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">
                    <div class="keywordPhrases inline-block">

                    </div>

                </div>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
    <div class="col-md-7">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-speech font-green-sharp"></i>
                    <span class="caption-subject bold uppercase"> PDf Text </span>
                    <span class="caption-helper">...</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height:500px; overflow-y:scroll" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">
                    <div class="pdfText inline-block">

                    </div>

                </div>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
</div>


<script src="~/Scripts/Custom/Verbatim/Verbatim.js"></script>

<script>
        var SearchKeyword = "@Url.Content("~/Verbatim/SearchKeyword")";
        var pdfText = "@Url.Content("~/Verbatim/GetPDFText")";
</script>
